.NavBar{
    background-color: rgb(41, 40, 40);
    /* list-style-type: none; */
    /* padding: 1rem; */
}
.home{
    color: white;
    /* font-size: 1rem; */
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    color: white;
    font-size: 1rem;
}
li{
    border-right: 1px solid #ccc ;
    padding: 1rem;
    font-weight: 500;
}
li:hover{
    background-color: rgb(117, 187, 47);
}